[user]
  name = itkq
  email = kuogsi@gmail.com
	signingkey = E7A3B4722429F3D4AC7A268DBBDC3D0A1BE808A0
[includeIf "gitdir:~/src/ghe.ckpd.co/"]
  path = ~/.gitconfig_ckpd
[includeIf "gitdir:~/src/gitlab.net.ict.e.titech.ac.jp/"]
  path = ~/.gitconfig_lab
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
  filemode = true
  pager = less -r
[alias]
  co = checkout
  st = status -sb
  pr = pull --rebase
  fo = fetch origin
  ro = rebase origin
  rc = rebase --continue
  wd = diff --word-diff
  gp = grep -n
  lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
[init]
  templatedir = ~/.git-template
[push]
	default = simple
[branch]
	autosetuprebase = always
[pull]
  rebase = true
[rebase]
  autostash = true
[ghq]
  root = ~/src
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[url "git@gist.github.com:"]
  pushInsteadOf = https://gist.github.com/
  pushInsteadOf = git://gist.github.com/
[gpg]
	program = gpg
[commit]
	gpgsign = true
[grep]
	lineNumber = true
[fetch]
  prune = true
