[user]
	name = Takuya Kosugiyama
	email = re@itkq.jp
	signingkey = E7A3B4722429F3D4AC7A268DBBDC3D0A1BE808A0
[includeIf "gitdir:~/src/ghe*"]
  path = ~/.gitconfig_ckpd
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
	editor = vim
  filemode = true
  pager = less -r
[push]
	default = simple
[branch]
	autosetuprebase = always
[pull]
  rebase = true
[rebase]
  autostash = true
[ghq]
  root = ~/src
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[url "git@gist.github.com:"]
  pushInsteadOf = https://gist.github.com/
  pushInsteadOf = git://gist.github.com/
[gpg]
	program = gpg
[commit]
	gpgsign = true
[grep]
	lineNumber = true
[fetch]
  prune = true
[help]
  autocorrect = -1
